.navbar {
  background-color: #fa4f90;
  color: white;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.nav__back {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

.navbar-icons .icon-name {
  margin-left: 15px;
  cursor: pointer;
  margin-right: 20px;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.icon-name img {
  width: 24px;
  height: 24px;
}
